# general
*~
*.bak

.DS_Store
.AppleDouble
.LSOverride
ICon

._*

.Spotlight-V100
.Trashes

Thumbs.db
ehthumbs.db

Desktop.ini
$RECYCLE.BIN/

*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma

*.iso
*.tar

*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

,*

TAGS
!TAGS/
tags
!tags/

*.secret
